h1,
h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Viga";
  color: #fff;
  margin: 8px;
}

body {
  background-color: rgb(9, 155, 118);
}

button {
  display: block;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  cursor: url(../img/palu1.png), auto;
}

.container:active {
  cursor: url(../img/palu2.png), auto;
}

.tombol {
  width: 90px;
  height: 40px;
  border: 1px solid white;
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
}

.tombol:nth-child(2) {
  left: 46em;
  top: 4.7em;
}

.tombol:nth-child(3) {
  left: 34em;
  top: 4.7em;
}

.tombol:hover {
  background-color: #eaeaea;
}

.keMainMenu a {
  position: relative;
  left: 9px;
  bottom: 15px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Viga";
}

.keMainMenu:hover a {
  color: #333;
}

.mulai {
  position: relative;
  left: 6.5px;
  bottom: 20px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Viga";
}

.mulai:hover {
  color: #333;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.tanah::after {
  content: "";
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.tikus {
  width: 100%;
  height: 100%;
  background: url(../img/tikus.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.tanah.muncul .tikus {
  top: 0;
}
