body {
  background-color: rgb(9, 155, 118);
  font-family: "Viga";
  color: white;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  text-align: center;
}

.container {
  width: 700px;
  height: 300px;
  margin: auto;
}

.tombol {
  width: 90px;
  height: 40px;
  border: 1px solid white;
  margin: auto;
  margin-top: 1em;
  border-radius: 6px;
}

.tombol:hover {
  background-color: #eaeaea;
}

.keMainMenu a {
  position: relative;
  left: 13px;
  bottom: 15px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.keMainMenu:hover a {
  color: #333;
}
